#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/–ö—É—Ä—Å –î–∞—Ç–∞ –∞–Ω–∞–ª—ñ—Ç–∏–∫ /Data/supermarket_sales.csv')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending = False)[:1]

Branch
C    5265.1765
Name: gross income, dtype: float64

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —î —Ñ—ñ–ª—ñ–∞–ª –°.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [7]:
branch_income = df.groupby(['Branch','City'])['gross income'].sum().sort_values(ascending=False)[:1]
branch_income

Branch  City
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

–í –º—ñ—Å—Ç—ñ Naypyitaw	–∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª. –ü—Ä–æ—Ç–µ —Ä—ñ–∑–Ω–∏—Ü—è –º—ñ–∂ –º—ñ—Å—Ç–∞–º–∏ –Ω–µ–∑–Ω–∞—á–Ω–∞, —Ç–æ–º—É –Ω–µ –≤–ø–µ–≤–Ω–µ–Ω–∞, —â–æ –≤–∞—Ä—Ç–æ –≤—ñ–¥–∫—Ä–∏–≤–∞—Ç–∏ —Ç–∞–º —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω. –ú–æ–∂–ª–∏–≤–æ —Ü–µ –Ω–∞–≤–ø–∞–∫–∏ –≥—ñ—Ä—à–µ –≤–ø–ª–∏–Ω–µ –Ω–∞ –ø—Ä–∏–±—É—Ç–æ–∫ –≤ —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ (–∑–∞—Ç—Ä–∞—Ç–∏ –±—É–¥—É—Ç—å –Ω–∞ +1 –º–∞–≥–∞–∑–∏–Ω).
–î—É–º–∞—é —Ç—Ä–µ–±–∞ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ –Ω–∞—Å–∫—ñ–ª—å–∫–∏ —á–∞—Å—Ç–æ —Ü–µ –º—ñ—Å—Ç–æ —Ç–∞ —Ü–µ–π —Ñ—ñ–ª—ñ–∞–ª –ª—ñ–¥–∏—Ä—É—é—Ç—å.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [ ]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [ ]:
invoices_by_category['Electronic accessories'].max() #–Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤

60

In [ ]:
invoices_by_category['Electronic accessories'].idxmax() #–≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**–ü–∏—Ç–∞–Ω–Ω—è:**

1. –Ø–∫–∏–π –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π,–º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏–π —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —Å—Ç–∞–≤–ª—è—Ç—å –ø–æ–∫—É–ø—Ü—ñ –≤ –º—ñ—Å—Ç—ñ `"Naypyitaw"`?

2. –î–µ –Ω–∞–π–Ω–∏–∂—á–∞ `"cogs"`?

3. –Ø–∫–æ–≥–æ `"Customer type"` –±—ñ–ª—å—à–µ –≤ –º—ñ—Å—Ç—ñ `"Naypyitaw"`?

**1 –ø–∏—Ç–∞–Ω–Ω—è**

–Ø–∫–∏–π –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π, –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏–π —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ —Å—Ç–∞–≤–ª—è—Ç—å –ø–æ–∫—É–ø—Ü—ñ –≤ –º—ñ—Å—Ç—ñ `"Naypyitaw"`?

In [ ]:
df['Rating'][df['City'] == 'Naypyitaw'].max() #–º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥

10.0

In [ ]:
df['Rating'][df['City'] == 'Naypyitaw'].min() #–º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥

4.0

In [ ]:
df['Rating'][df['City'] == 'Naypyitaw'].mean() #—Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥

7.072865853658537

In [ ]:
naypyitaw_ratings = df['Rating'][df['City'] == 'Naypyitaw']
with pd.option_context("display.precision", 2):
  display(naypyitaw_ratings.describe())

  #—Ç—É—Ç –∫–æ–ª–∏ –±—É–¥—É –≤–º—ñ—Ç–∏ –≤—ñ–∑—É–∞–∑—ñ–∑—É–≤–∞—Ç–∏ —â–µ –¥–æ–¥–∞–º –≥—Ä–∞—Ñ—ñ–∫, —ñ –±—É–¥–µ –Ω–∞ –≥—Ä–∞—Ñ—ñ–∫—É –∫—Ä–∞—Å–∏–≤—ñ—à–µ —Ç–∞ –∑—Ä–æ–∑—É–º—ñ–ª—ñ—à–µ –ø–µ—Ä—Å–∞–Ω—Ç–∏–ª—å

count    328.00
mean       7.07
std        1.70
min        4.00
25%        5.60
50%        7.10
75%        8.50
max       10.00
Name: Rating, dtype: float64

**–í–∏—Å–Ω–æ–≤–æ–∫ –¥–æ –ø–µ—Ä—à–æ–≥–æ –ø–∏—Ç–∞–Ω–Ω—è:**

–ú–∏ –±–∞—á–∏–º–æ, —â–æ —Ä–µ–π—Ç–∏–Ω–≥ –≤ –º—ñ—Å—Ç—ñ `Naypyitaw` —Å–µ—Ä–µ–¥–Ω—ñ–º –∑–Ω–∞—á–µ–Ω–Ω—è–º –º–∞—î - 7.07 –±–∞–ª–∞. –¶–µ –¥–æ—Å—Ç–∞—Ç–Ω—å–æ –≤–∏—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥.

–¢–∞–∫–æ–∂ –∑ `–ø–µ—Ä—Å–∞–Ω—Ç–∏–ª—é` (—Ç–∞ –º–∞–π–±—É—Ç–Ω—å–æ–≥–æ –≥—Ä–∞—Ñ—ñ–∫—É) –º–∏ –±–∞—á–∏–º–æ, —â–æ –ø–æ–ª–æ–≤–∏–Ω–∞ –≤—Å—ñ—Ö –≤—ñ–¥–≥—É–∫—ñ–≤ –Ω–∞ —Ü—å–æ–º—É –∑–Ω–∞—á–µ–Ω–Ω—ñ —Ç–∞ –≤–∏—â–µ. –ê –∑–Ω–∞—á–∏—Ç—å —Ç—ñ–ª—å–∫–∏ –ø–æ–ª–æ–≤–∏–Ω–∞ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –º–∞–≥–∞–∑–∏–Ω–∞–º–∏(—Å—Ç–∞–≤–ª—è—Ç—å 7+–±–∞–ª—ñ–≤).

–ù–∞–º –ø–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤–µ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è –∫—Ä–∏—Ç–µ—Ä—ñ—ó–≤, —è–∫—ñ –ø–æ–¥–æ–±–∞—é—Ç—å—Å—è(–Ω–µ –ø–æ–¥–æ–±–∞—é—Ç—å—Å—è) –∫–ª—ñ—î–Ω—Ç–∞–º.
–ü–æ—Ç—ñ–º –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–∏—Ö –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∑–º—ñ–Ω–∏, —â–æ–± –≤—ñ–¥—Å–æ—Ç–æ–∫ —Å–µ—Ä–µ–¥–Ω—å–æ—ó —Ç–∞ –≤–∏—â–µ –æ—Ü—ñ–Ω–∫–∏ —Å—è–≥–∞–≤ –±—ñ–ª—å—à–æ–≥–æ –∑–Ω–∞—á–µ–Ω–Ω—è.

**2 –ø–∏—Ç–∞–Ω–Ω—è**

–î–µ –Ω–∞–π–Ω–∏–∂—á–∞ `"cogs"`?

In [8]:
df.loc[df['cogs'].idxmin()]

Invoice ID                       784-21-9238
Branch                                     C
City                               Naypyitaw
Customer type                         Member
Gender                                  Male
Product line               Sports and travel
Unit price                             10.17
Quantity                                   1
Tax 5%                                0.5085
Total                                10.6785
Date                                2/7/2019
Time                                   14:15
Payment                                 Cash
cogs                                   10.17
gross margin percentage             4.761905
gross income                          0.5085
Rating                                   5.9
Name: 822, dtype: object

**–í–∏—Å–Ω–æ–≤–æ–∫ –¥–æ –¥—Ä—É–≥–æ–≥–æ –ø–∏—Ç–∞–Ω–Ω—è:**

–ú–∏ –±–∞—á–∏–º–æ, —â–æ –Ω–∞–π–º–µ–Ω—à–∏–π `cogs` –æ–±—ñ–π—à–æ–≤—Å—è –≤ 10.17. –ü—Ä–∏ —Ü—å–æ–º—É —è–∫—â–æ –ø–æ—Ä—ñ–≤–Ω—è—Ç–∏ `gross margin percentage` —Ç–æ –≤—ñ–Ω –≤—Å—é–¥–∏ –æ–¥–Ω–∞–∫–æ–≤–∏–π.

–Ø–∫—â–æ –≥–æ–≤–æ—Ä–∏—Ç–∏ –ø—Ä–æ –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è –Ω–æ–≤–∏—Ö –º–∞–≥–∞–∑–∏–Ω—ñ —â–µ, —Ç–æ –¥—É–º–∞—é –≤–∞—Ä—Ç–æ –≤—ñ–¥–∫—Ä–∏–≤–∞—Ç–∏ –∞–Ω–∞–ª–æ–≥–∏ –∑ –Ω–∞–π–º–µ–Ω—à–∏–º `cogs`, —â–æ–± –º–µ–Ω—à–µ –≥—Ä–æ—à–µ–π –∑–∞–º–æ—Ä–æ–∂—É–≤–∞—Ç–∏ –≤ –±—ñ–∑–Ω–µ—Å—ñ. –ü—Ä–∏ —Ü—å–æ–º—É –æ—Ç—Ä–∏–º—É–≤–∞—Ç–∏ —Ç–∞–∫–∏–π –∂–µ `gross margin percentage`.

**3 –ø–∏—Ç–∞–Ω–Ω—è**

–Ø–∫–æ–≥–æ `"Customer type"` –±—ñ–ª—å—à–µ –≤ –º—ñ—Å—Ç—ñ `'Naypyitaw'`?

In [ ]:
df[df['City'] == 'Naypyitaw']['Customer type'].value_counts().idxmax()

'Member'

In [ ]:
df[df['City'] == 'Naypyitaw']['Customer type'].value_counts(normalize = True)

Customer type
Member    0.515244
Normal    0.484756
Name: proportion, dtype: float64

**–í–∏—Å–Ω–æ–≤–æ–∫ –Ω–∞ —Ç—Ä–µ—Ç—î –ø–∏—Ç–∞–Ω–Ω—è:**

–ú–∏ –±–∞—á–∏–º–æ, —â–æ —É –º—ñ—Å—Ç—ñ `Naypyitaw` –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ `Member` –±—ñ–ª—å—à–µ, –Ω—ñ–∂ `Normal `. –ü—Ä–æ—Ç–µ —Ü—è —Ä—ñ–∑–Ω–∏—Ü—è –≤ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –Ω–µ–≤–µ–ª–∏–∫–∞.

–ú–æ–∂–Ω–∞ –¥–æ–¥–∞—Ç–∫–æ–≤–æ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —á–∏ —Ä–æ–±–ª—è—Ç—å –∫–ª—ñ—î–Ω—Ç–∏ `Member `–±—ñ–ª—å—à—ñ –ø–æ–∫—É–ø–∫–∏ –∑–∞ —á–µ–∫–æ–º, —á–∏ –Ω—ñ.

–Ø–∫—â–æ —Ç–∞–∫, —Ç–æ —Ç–æ–¥—ñ –≤–∞—Ä—Ç–æ –ø–µ—Ä–µ–≤–æ–¥–∏—Ç–∏ `Normal `–∫–ª—ñ—î–Ω—Ç—ñ–≤ —á–µ—Ä–µ–∑ —Ä—ñ–∑–Ω—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ —ñ–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∏ –≤ —ñ–Ω—à–∏–π —Ç–∏–ø.